body {
    background-color: rgb(15, 15, 15);
}

.ALMAZ {
    text-align: center;
    font-family: 'Gloock', serif;
    font-size: 180%;
    font-weight: 700;
    color: #EC0033;
}

.ALMAZ_link{
    color: #EC0033;
    top: auto;
    margin: 0.2%;
    text-decoration: none;
    transition: color .2s linear;
}

.ALMAZ_link:hover {
    color: #ec003388;
}

.nav{
    font-family: 'Gloock', serif;   
    font-size: 180%;
    font-weight: 700;
    text-align: left;
}

.nav_link{
    color: #EC0033;
    top: 0;
    display: table  ;
    margin: 0.2%;
    text-decoration: none;
    transition: color .2s linear;
}

.nav_link:hover {
    color: #ec003388;
}

.head{
    font-family: 'Gloock', serif;   
    font-size: 130%;
    font-weight: 700;
    text-align: left;
    display: felx;
    position: absolute;
    left: 2%;
    right: 0;
    z-index: 1000;
    text-align: center;
}

.head_link{
    color: #EC0033;
    top: auto;
    margin: 0.2%;
    text-decoration: none;
    transition: color .2s linear;
}

.head_link:hover {
    color: #ec003388;
}
